<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jy.mapper.GoodsParamMapper" >
  <resultMap id="BaseResultMap" type="cn.jy.entity.GoodsParam" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="food_param_id" property="foodParamId" jdbcType="BIGINT" />
    <result column="goods_id" property="goodsId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="key" property="key" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, food_param_id, goods_id, name, key, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from yl_goods_param
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from yl_goods_param
    <where>
      1 = 1
      <if test="goods_id != null">
        and goods_id = #{goods_id}
      </if>
      <if test="goods_carousel_id != null">
        and goods_carousel_id = #{goods_carousel_id}
      </if>
      <if test="id != null">
        and id = #{id}
      </if>
    </where>
    order by id
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from yl_goods_param
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.jy.entity.GoodsParam" >
    insert into yl_goods_param (id, food_param_id, goods_id, 
      name, key, create_time, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{foodParamId,jdbcType=BIGINT}, #{goodsId,jdbcType=BIGINT}, 
      #{name,jdbcType=VARCHAR}, #{key,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.jy.entity.GoodsParam" >
    insert into yl_goods_param
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="foodParamId != null" >
        food_param_id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="key != null" >
        key,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="foodParamId != null" >
        #{foodParamId,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="key != null" >
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.jy.entity.GoodsParam" >
    update yl_goods_param
    <set >
      <if test="foodParamId != null" >
        food_param_id = #{foodParamId,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="key != null" >
        key = #{key,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.jy.entity.GoodsParam" >
    update yl_goods_param
    set food_param_id = #{foodParamId,jdbcType=BIGINT},
      goods_id = #{goodsId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      key = #{key,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <delete id="deleteByGoodsId" parameterType="java.lang.Long" >
    delete from yl_goods_param
    where goods_id = #{goods_id}
  </delete>
</mapper>